*, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.footer {
    width: 100vw;
    display: flex;
    justify-content: center; 
    padding-top: 5vh;
    background: aliceblue;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 15vw;
}

.footer-container h4 {
    font-weight: 100;
    font-size: .8em;
}

.copyright {
    display: flex;
    justify-content: flex-start;
}