*,
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-class {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.headerContainer {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    background-color: rgb(238, 233, 227);
    height: 3em;
    padding: .5em 1em;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    list-style-type: none;
    gap: 1em;
}

.company-name {
    font-size: 1.5em;
    padding-bottom: .5em;
}

.navContainer h4{
    font-weight: 100;
    font-size: 1em;
}

.menu {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

a {
    text-decoration: none;
}
